.guess-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 8px 16px;
}

.guess-character {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: bold;
    border-radius: 12px;
    margin: 0px 4px;
    padding: 4px;
    width: max(44px, 7vw);
    aspect-ratio: 1/1;
    background-color: #f3f3f3;
}

.guess-text {
    margin: 8px;
}

.guess-p {
    font-size: max(2vw, 0.8rem);
    margin: 0px;
    padding: 0px;
}