body {
  background-color: bisque;
  background-image: "Animated-Shape.svg";
  font-family: Arial, Helvetica, sans-serif;
  margin: 7%;
  margin-top: 4%;
}

p {
  font-size: 1rem;
}

#guesses{
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: inline-block;
  margin: 0 10px;
}

#guess{
  list-style-type: none;
}

#hexList {
  list-style-type: circle;
}

#everything {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  color: rgb(4, 4, 19);
  font-family: 'Roboto Mono', monospace;
}

#instructions {
  text-align: center;
  font-size: small;
  border: 1rem;
}

#infoModal {
  margin-bottom: 7%;
}

.square {
  height: 200px;
  width: 200px;
  background-color: #555;
  margin-bottom: 3%;
}

#colourGen {
  background-color: black;
  padding: 10%;
  margin-bottom: 2%;
}

#userinput {
  width: 30%;
}

#inputAndButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#guessesDisplay {
  flex-direction: column;
}

#guessHeading {
  color: rgb(4, 4, 19);
  font-family: 'Roboto Mono', monospace;
  size: 1.2rem;
  font-weight: bold;
}

#guessContainer{
  background-color: rgb(231, 206, 176);
  text-align: center;
  border: 10%;
}