body {
  background-color: bisque;
  font-family: Arial, Helvetica, sans-serif;
}

#everything{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title{
  color: rgb(4, 4, 19);
  font-family: 'Roboto Mono', monospace;
}

#instructions{
  text-align: center;
  font-size: small;
}

#colourGen{
  background-color: black;  
  padding: 5%;
  margin-bottom: 2%;
}

#userinput{
  width: 30%;
}

#inputAndButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#guessesDisplay{
  flex-direction: column;
}